.root {
  background-color: #fff;
}

.time {
  color: #7c7c7c;
  font-size: 12px;
}

.author {
  color: #1a1a1b;
  margin-right: 10px;
  font-size: 12px;
}

.body {
  padding-left: 10px;
}

.comments {
  padding-left: 50px;
}
